{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <script type="text/javascript" src="{% static 'ackbas_core/main.js' %}"></script>

        {% block styles %}
        {% endblock %}

        {# assume that the http status code is available in the context_data (there is a middleware for this) #}
        {{ http_status_code|json_script:"http_status_code" }}

        <title>Automatic Control Knowledge Repository</title>
    </head>
    <body>
        <!-- block content-->
        {% block content %}
        {% endblock  %}
        <!-- /block content-->
    </body>
</html>
