{% extends "ackbas_core/base.html" %}
{% load static %}

{% block styles %}
<style type="text/css">
    html, body {
        height: 100%;
        margin: 0;
    }

    #page-grid {
        height: 100%;
        display: grid;
        grid-template-rows: 50px 1fr 1fr 80px;
        grid-template-columns: 340px 1fr 1.5fr;
    }

    #start-editor {
        grid-row: 1/3;
        grid-column: 1;
    }

    #target-editor {
        grid-row: 3/5;
        grid-column: 1;
    }

    .editor-container {
        height: 100%;
    }

    .graph-title {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: large;
    }

    #solution-title {
        grid-row: 1;
        grid-column: 3;
    }

    #solution-graph {
        grid-row: 2/4;
        grid-column: 3;
    }

    #methodnet-title {
        grid-row: 1;
        grid-column: 2;
    }

    #knowledge-graph {
        grid-row: 2/4;
        grid-column: 2;
    }

    .graph-container {
        tab-index: -1;
    }

    #button-row {
        grid-row: 4;
        grid-column: 2/4;
    }

    #button-row {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    #button-row button {
        margin: 1em;
    }

    .nice-border {
        border: 1px solid #CCCCCC;
        box-shadow: inset 0px 0px 2px 0px #CCCCCC;
    }

    #alert-zone {
        width: 500px;
        position: fixed;
        top: 20px;
        left: 50%;
        margin-left: -250px;
        z-index: 999;
    }

    #help-popup {
        width: 50%;
        position: fixed;
        left: 50%;
        margin-left: -25%;
        z-index: 1000;
        background: lightgoldenrodyellow;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 3px 3px 25px 0px rgba(0,0,0,0.2);

        transition: opacity 0.5s, top 0.5s ease-out;
    }

    #help-popup:not(.help-hidden) {
        top: 50px;
    }

    .help-hidden {
        opacity: 0;
        top: -400px;
    }

    #close-help {
        float: right;
        font-size: 24pt;
    }

    .legend {
        margin: 10px auto 10px;
        display: block;
    }

    .dummy {
        border: 2px solid aqua;
    }
</style>
{% endblock %}

{% block content %}

<script type="text/javascript">
  window.onload = function() {
      init();
  }
</script>


<div id="page-grid">
    <div id="start-editor" class="editor-container nice-border"></div>
    <div id="target-editor" class="editor-container nice-border"></div>

    <div id="solution-title" class="graph-title">Solution Procedure</div>
    <div id="solution-graph" class="graph-container nice-border">Graph could not be loaded</div>
    <div id="methodnet-title" class="graph-title">Methodnet</div>
    <div id="knowledge-graph" class="graph-container nice-border">Graph could not be loaded</div>

    <div id="button-row" class="nice-border">
        <button type="button" class="btn btn-outline-primary" onclick="update()">Update</button>
        <button type="button" class="btn btn-outline-success" onclick="startPhysics()">Dynamic Layout</button>
        <button type="button" class="btn btn-outline-danger" onclick="stopPhysics()">Freeze Layout</button>
        <button type="button" class="btn btn-light" onclick="openHelp()">Help</button>
    </div>

    <div id="help-popup" class="help-hidden">
        <button id="close-help" type="button" class="btn btn-close shadow-none" aria-label="Close" onclick=closeHelp();>
            &times;
        </button>

        <h3>Help</h3>
        <p>
            The graph viewer UI mainly consists of three panels:
        </p>
        <ol>
            <li>Left: An upper and lower text editor, for entering the solution procedures start and target spec respectively.</li>
            <li>Center: The Methodnet graph, an overview of all existing types and methods.</li>
            <li>Right: The solution procedure graph, a sequence of method calls linking the entered start specification to the desired target specification.</li>
        </ol>
        <p>If you want to try out generating your own solution procedure, start by looking up the types and methods you’re
            interested in in <a href="https://github.com/TUD-RST/methodnet/blob/main/demo_content.yml">this file</a>.
            Then enter start and target specification similar to the provided example.
            Multiple start specs are also possible.
            Once you’re done, click “Update” and inspect the result in the right panel.
        </p>

        <h3>Methodnet Elements</h3>
        <img class="legend" src="{% static 'ackbas_core/legend_knowledge.svg' %}" />

        <h3>Solution Procedure Elements</h3>
        <img class="legend" src="{% static 'ackbas_core/legend_solution.svg' %}" />
    </div>

    <div id="alert-zone">
    </div>
</div>

{% endblock  %}
